html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

#root {
  max-width: 100%;
  /* background-image: url(./baceground.TradingViev.png); */
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
}
